{% for zone in zones %}

zone "{{ zone.zone }}" {
    type master;
    file "/etc/bind/db.{{ zone.zone }}";
};

zone "{{ zone.reverse_zone }}" {
    type master;
    file "/etc/bind/db.{{ zone.reverse_zone }}";
};

{% endfor %}
